html body {
    /*background-color: rgb(255,255,255);*/
    /*background-color: rgb(0,0,0);*/
    /*background-color: rgba(0,0,11,0.84);*/
    /*background-color: rgba(0,1,2,0.84);*/ /* Default*/
    /*background-color: rgba(0,6,41,0.98); !* Dark Blue *!*/
    background-color: rgba(0,16,27,0.98); /* Dark Grey Bluish */
}

body>.container {
    width: 960px;
}

#sim-container {
    user-select: none;
    width: 930px;
}

input[type=number]{
    width: 60px;
}

#chart {
    position: relative;
    bottom: 860px;
    left: 175px;
    /*background-color: black;*/
    background-color: transparent;
}

#legend {
    position: relative;
    bottom: 1100px;
    left: 750px;
    background-color: black;
    width: 150px;
    height: 150px;
}

.legendText {
    fill: darkmagenta;
}

.graphTitleText {
    /*color: aqua;*/
    /*color: deeppink;*/
    color: chocolate;
    position: relative;
    left: 225px;
    top: 25px;

}

.animationButton {
    position: relative;
    left: 770px;
    bottom: 65px;
    z-index: 1;
}

.checkBox {
    position: relative;
    bottom: 300px;
    left: 765px;
}

.checkBoxText {
    color: chartreuse;
    background-color: black;
    position: relative;
    left: 5px;
    top: 1px;
}

.yAxis line {
    stroke: aqua;
}

.yAxis path {
    stroke: aqua;
}

.yAxis text {
    stroke: aqua;
}

.xAxis line {
    stroke: aqua;
}

.xAxis path {
    stroke: aqua;
}

.xAxis text {
    stroke: aqua;
}

.axisLabelText {
    fill: chartreuse;
}

#parameterText {
    /*color: rgba(195,87,122,0.84);*/
    color: deeppink;
    position: relative;
    left: 40px;
}

.parameters {
    position: relative;
    bottom: 200px;
    left: 30px;

}

.separationParameter {
    position: relative;
    left: 11px;
}

.expansionParameter {
    position: relative;
    left: 20px;
}

.animationSlider {
    position: relative;
    left: 80px;
    bottom: 1250px;
    width: 20px;
    height: 150px;
    padding: 0;
}

.animationSlider input {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}

#animationSpeedText {
    color: darkgoldenrod;
    position: relative;
    right: 25px;
}

#animationSpeedTextLineTwo {
    color: darkgoldenrod;
    position: relative;
    right: 14px;
    bottom: 5px;
}

.Redshift>canvas {
    width: 910px;
    height: 600px;
    /*height: 212px;*/
}
