body {
    background-color: rgba(0,16,27,0.98); /* Dark Grey Bluish */
}

#React-Simulation {
    user-select: none;
    width: 930px;
    height: 800px;
    margin: 0 auto;
}

input[type=number]{
    width: 65px;
}
