html body {
    /*background-color: rgb(255,255,255);*/
    /*background-color: rgb(0,0,0);*/
    /*background-color: rgba(0,0,11,0.84);*/
    background-color: rgba(0,1,2,0.84);
}

body>.container {
    width: 960px;
}

#sim-container {
    user-select: none;
    width: 930px;
}

#chart {
    position: absolute;
    bottom: 397px;
    left: 370px;
    /*background-color: black;*/
    background-color: transparent;
}

.animationButton {
    position: relative;
    left: 770px;
    bottom: 65px;
    z-index: 1;
}

.checkBox {
    position: absolute;
    bottom: 135px;
    left: 980px;
}

.checkBoxText {
    color: chartreuse;
    position: relative;
    left: 5px;
    top: 1px;
}

.yAxis line {
    stroke: aqua;
}

.yAxis path {
    stroke: aqua;
}

.yAxis text {
    stroke: aqua;
}

.xAxis line {
    stroke: aqua;
}

.xAxis path {
    stroke: aqua;
}

.xAxis text {
    stroke: aqua;
}

.axisLabelText {
    fill: chartreuse;
}

.parameters {
    position: relative;
    bottom: 200px;
    left: 30px;

}

.separationParameter {
    position: relative;
    left: 11px;
}

.expansionParameter {
    position: relative;
    left: 20px;
}

.Redshift>canvas {
    width: 910px;
    height: 600px;
    /*height: 212px;*/
}
