html body {
    background-color: rgb(171,200,171);
}

body>.container {
    width: 960px;
}

#sim-container {
    user-select: none;
    width: 930px;
}

.box {
    border: 1px solid #555;
    padding: 0.5em;
}

.Redshift>canvas {
    width: 910px;
    height: 212px;
    /*position: relative;*/
    /*right: 180px;*/
}
